@model CollectionsApp.ViewModels.HomePageViewModel

<div>
    <div class="row">
        <div class="col">
            <h1 class="h3 text-black">Last added items</h1>

            <ul class="list-group" style="width: 15rem">
                @foreach (var item in Model.LatestItems)
                {
                    <li class="list-group-item">
                        <a href="/Items/Item?itemId=@item.Id" class="h4 text-primary" >@item.Title</a><br />
                        <a href="/Items/ItemsList?collectionId=@item.CollectionId" style="color:crimson">@item.Collection.Title</a><br />
                        <label>Author: @item.Author</label>
                    </li>
                }
            </ul>
        </div>

        <div class="col">
            <h1 class="h3 text-black">Biggest collections</h1>

            <ul class="list-group" style="width: 15rem">
                @foreach (var collection in Model.LargestCollections)
                {
                    <li class="list-group-item">
                        <a href="/Items/ItemsList?collectionId=@collection.Id" class="h4 text-primary">@collection.Title</a><br />
                        <label>Size: @collection.Size</label>
                    </li>
                }
            </ul>
        </div>

        <div id="tagcloud" class="col" style="width: 20rem">
            <h1 class="h3 text-black">Tag cloud <i class="bi bi-cloud" style="color:dodgerblue"></i></h1>
            @{
                int index = Model.PopularTags.Count();
                int k = 0;
            }
            @foreach (var tag in Model.PopularTags)
            {
                <a href="/Tags/GetItemsByTag?tagId=@tag.Id" rel="@index">@tag.TagValue</a>
                k++;
                index--;
                if (k % 3 == 0)
                {
                    <br />
                } else
                {
                    <label>   </label>
                }
            }
        </div>
    </div>
</div>

<script src="~/lib/tagcloud/dist/jquery.tagcloud.js"></script>

<script>
    $("#tagcloud a").tagcloud({
        size: { start: 20, end: 30, unit: "px" },
        color: { start: '#3498DB', end: '#46CFB0' }
    });
</script>




