@model CollectionsApp.ViewModels.CreateItemViewModel

<div class="form-group">
    <h1 class="h1 text-primary">Create item</h1>

    <form method="post" asp-controller="Items" asp-action="CreateItem" asp-route-collectionId="@ViewBag.collectionId">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Title"></label><br />
            <input asp-for="Title" />
            <br />
        </div>

        <div>
            <label asp-for="Tags"></label><br />
            <textarea asp-for="Tags"></textarea>
            <br />
        </div>

        @{
            int index = 0;
        }
        @foreach (var field in Model.ItemFields)
        {
            <input type="hidden" name="itemFields[@index].Title" value="@field.Title" />
            <input type="hidden" name="itemFields[@index].InputType" value="@field.InputType" />
            @if (field.InputType.Equals("checkbox"))
            {
                <input type="checkbox" name="itemFields[@index].Value" id="@field.Title" />
                <label for="@field.Title">@field.Title</label><br />
            }
            else
            {
                <label for="@field.Title">@field.Title</label><br />
                @if (field.InputType.Equals("textarea"))
                {
                    <textarea name="itemFields[@index].Value" id="@field.Title"></textarea>
                }
                else if (field.InputType.Equals("text"))
                {
                    <input type="text" name="itemFields[@index].Value" id="@field.Title" maxlength="256" />
                }
                else
                {
                    <input type="@field.InputType" name="itemFields[@index].Value" id="@field.Title" />

                }
            }
        }

        <div>
            <br /><input type="submit" class="btn btn-primary" value="Create" /><br />
        </div>
    </form>
</div>

@*@foreach (var field in Model.Fields)
    {
        <div>
            @if (field.InputType.Equals("checkbox"))
            {
                <label for="@field.Title">@field.Title</label><br />
                <input type="checkbox" name="@field.Title" id="@field.Title" />
            }
            else
            {
                <label for="@field.Title">@field.Title</label><br />
                @if (field.InputType.Equals("textarea"))
                {
                    <textarea name="@field.Title" id="@field.Title"></textarea>
                }
                else if (field.InputType.Equals("text"))
                {
                    <input type="text" name="@field.Title" id="@field.Title" maxlength="256" />
                }
                else
                {
                    <input type="@field.InputType" name="@field.Title" id="@field.Title" />

                }
            }
            <br /><br />
        </div>
    }*@