@model CollectionsApp.ViewModels.CreateItemViewModel

<div class="form-group">
    <h1 class="h2 text-primary">Create item for collection "@ViewBag.collection.Title"</h1>

    <form method="post" asp-controller="Items" asp-action="CreateItem" asp-route-collectionId="@ViewBag.collection.Id">
        <div asp-validation-summary="All"></div>

        <div>
            <label asp-for="Title"></label><br />
            <input asp-for="Title" />
            <br /><br />
        </div>

        <div>
            <label>Tags</label><br />
            @for (int i = 0; i < 3; i++)
            {
                <label>
                    #
                    @if (i < Model.Tags.Count())
                    {
                        <input type="text" name="tags[@i].TagValue" value="@Model.Tags[i].TagValue" style="width: 8rem" class="typeahead tt-query" autocomplete="off" spellcheck="false" />
                    }
                    else
                    {
                        <input type="text" name="tags[@i].TagValue" style="width: 8rem" class="typeahead tt-query" autocomplete="off" spellcheck="false" />
                    }
                </label>
                <br />
            }
            <br />
        </div>

        @{
            int index = 0;
        }
        @foreach (var field in Model.ItemFields)
        {
            <input type="hidden" name="itemFields[@index].Title" value="@field.Title" />
            <input type="hidden" name="itemFields[@index].InputType" value="@field.InputType" />
            @if (field.InputType.Equals("checkbox"))
            {
                if (field.Value == null)
                {
                    <input type="checkbox" name="itemFields[@index].Value" id="@field.Title" value="@field.Value" />
                }
                else
                {
                    <input type="checkbox" name="itemFields[@index].Value" id="@field.Title" value="@field.Value" checked />

                }
                <label for="@field.Title">@field.Title</label><br />
            }
            else
            {
                <label for="@field.Title">@field.Title</label><br />
                @if (field.InputType.Equals("textarea"))
                {
                    <textarea name="itemFields[@index].Value" id="@field.Title" value="@field.Value"></textarea>
                }
                else if (field.InputType.Equals("text"))
                {
                    <input type="text" name="itemFields[@index].Value" id="@field.Title" value="@field.Value" maxlength="256" />
                }
                else
                {
                    <input type="@field.InputType" name="itemFields[@index].Value" id="@field.Title" value="@field.Value" />
                }
                <br /><br />
            }
            index++;
        }

        <div>
            <input type="submit" class="btn btn-primary" value="Create" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        // Constructing the suggestion engine
        var tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch:  '/Tags/GetTagsList'
        });

        tags.clear();
        tags.clearPrefetchCache();
        tags.clearRemoteCache();
        tags.initialize(true);

        // Initializing the typeahead
        $('.typeahead').typeahead({
            hint: true,
            highlight: true, /* Enable substring highlighting */
            minLength: 1 /* Specify minimum characters required for showing result */
        },
        {
            name: 'tags',
            limit: 3,
            source: tags
        });
    });
</script>
